---
layout: base
---
<div id="header">
  <ul>
    <li class="header-section">
      <span class="header-icon">
        <a href="http://jasonrudolph.com/blog/feed/atom/" title="Jason Rudolph - Atom/RSS Feed">
          <img src="images/rss-icon-header.png" alt="Jason Rudolph Dot Com"/>
        </a>
      </span>
      <ul class="header-links">
        <li><a href="http://jasonrudolph.com/blog" title="Jason Rudolph - Blog">blog</a></li>
        <li><a href="http://twitter.com/jasonrudolph" title="Jason Rudolph - jasonrudolph on Twitter">twitter</a></li>
        <li><a href="http://jasonrudolph.com/about.html" title="Jason Rudolph - About">about</a></li>
      </ul>
    </li>
    <li class="header-section">
      <span class="header-icon">
        <a href="http://thinkrelevance.com" title="Relevance, Inc - Agile Software Development, Consulting, and Training">
          <img src="images/relevance-logo-header.png" alt="Relevance, Inc."/>
        </a>
      </span>
      <ul class="header-links">
        <li><a href="http://thinkrelevance.com/development" title="Relevance, Inc. - Software Development">development</a></li>
        <li><a href="http://thinkrelevance.com/training" title="Relevance, Inc. - Training">training</a></li>
        <li><a href="http://thinkrelevance.com/audits" title="Relevance, Inc. - Audits">audits</a></li>
      </ul>
    </li>
    <li class="header-section">
      <span class="header-icon">
        <a href="http://www.infoq.com/minibooks/grails" title="InfoQ: Getting Started with Grails">
          <img src="images/getting-started-with-grails-header.png" alt="Getting Started with Grails"/>
        </a>
      </span>
      <ul class="header-links">
        <li><a href="http://www.amazon.com/Getting-Started-Grails-Jason-Rudolph/dp/143030782X" title="Getting Started with Grails - Softcover and e-book at Amazon">amazon</a></li>
        <li><a href="http://www.lulu.com/content/618462" title="Getting Started with Grails - Softcover and e-book at Lulu">lulu</a></li>
        <li><a href="http://jasonrudolph.com/downloads/gswg/" title="Getting Started with Grails - Source Code">code</a></li>
      </ul>
    </li>
    <li class="header-section search">
      <form action="#" method="get">
        <input type="text" name="search-input" value=""><br />
        <input type="submit" name="search" value="Search" onclick="alert('Not yet. Please try the Google for now.'); return false;">
      </form>
    </li>
  </ul>
</div>
<div style="clear:both"></div>
<div id="content">

  {{ content }}

</div>
